<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Mock Server</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="https://github.com/vvpvvp/UMock#readme" target="_blank">文档</a>
                </li>
            </ul>
            <span class="glyphicon glyphicon-plus newProject" @click="createProject">创建项目</span>
        </div>
    </div>
</nav>
