<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Mock Server</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="https://github.com/vvpvvp/UMock#readme" target="_blank">文档</a>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0)" @click="login" v-if="!user.id">登录</a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" v-if="user.id">
                        <i class="fa fa-user fa-fw"></i>
                        {{user.name}}
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user" v-if="user.id">
                        <li>
                            <a href="javascript:void(0)" @click="logout">
                                <i class="fa fa-sign-out fa-fw"></i>
                                注销</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
