<div>
    <project-header></project-header>
    <div class="container wrapper">
        <div class="page-header">
            <h3>项目<span class="glyphicon glyphicon-plus newProject" @click="addProject">创建项目</span>
            </h3>
        </div>
        <div class="projectlist">
            <div v-for="(project, index) in projects" :key="project._id">
                <project :project="project" :index="index"></project>
            </div>
        </div>
        <div class="empty" v-if="!loading.fetch && projects.length == 0">
            <div class="msg">还没有配置api，赶紧配置一个</div>
        </div>
        <div v-if="loading.fetch">
            <div class="loading audio-wave"></div>
        </div>
    </div>
</div>
